:root {
  --color-yellow: #FFC40C;
  --color-petrol-blue: #216477;
}


.main-container {

  position: relative;
}

.side-line-cont {
  position: fixed;
  z-index: 1;
  left: -1rem;
  bottom: 0;
  width: 1rem;
  height: 10vh;
  margin: 0 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.yellow-line {
  background-color: var(--color-yellow);
  height: 3vh;

}

.content-section {
  margin: 7rem 3rem 0 3rem;
}

.yellow-liner {
  position: relative;
  right: 2.4rem;
  background-color: var(--color-yellow);
  height: 80%;
  width: 1rem;
  margin: 1rem 1rem 1rem 5rem;
}

