:root {
  --color-yellow: #FFC40C;
  --color-petrol-blue: #216477;
}


.main-container {

  position: relative;
}

.side-line-cont {
  position: fixed;
  z-index: 1;
  left: -1rem;
  bottom: 0;
  width: 1rem;
  height: 10vh;
  margin: 0 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.yellow-line {
  background-color: var(--color-yellow);
  height: 3vh;

}

.content-section {
  margin: 7rem 3rem 0 3rem;
}

.yellow-liner {
  position: relative;
  right: 2.4rem;
  background-color: var(--color-yellow);
  height: 80%;
  width: 1rem;
  margin: 1rem 1rem 1rem 5rem;
}

.footprint-container {
  width: 100%;

}

.footprints {
  background-image: url("../../assets/images/SVG/footprints.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 50%;
  height: 5rem;
  width: 5rem;
}

.fp_1 {
  transform: translateX(35vw);
}

.fp_2 {
  transform: translateX(24vw);
}

.fp_3 {
  transition: .3s ease;
  transform: translateX(12vw);

}
